@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");
/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global Styles */
  body {
    font-family: 'metropolis';
    font-size: 16px;
    line-height: 1.5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header Styles */
  header {
    background-color: #f2f2f2;
    padding: 0 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
  }

  main {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: #fff;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

    /* Footer Styles */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
      }
      
      .footer-menu li {
        display: inline-block;
        margin-left: 10px;
      }
      
      .footer-menu li a {
        color: #fff;
        text-decoration: none;
      }
    